
.container {
    width: 710px;
    font-family: "Courier", "Tahoma", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    background-image: url(/images/white_paper.jpg);
}

.shadow {
    -moz-box-shadow: 3px 3px 4px #a9afac;
    -webkit-box-shadow: 3px 3px 4px #a9afac;
    box-shadow: 3px 3px 4px #a9afac;
}

h1.logo {
    background-image: url(/images/resolute.png);
    text-indent: -2000px;
    background-repeat: no-repeat;
    height: 70px;
}

body {
    background-color: #dde5e1;

}

.rounded-corners {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

input, textarea, select {
    padding: 5px;
}

/*input:focus, textarea:focus, select:focus {*/
/*    background-color: #f6f6f6;*/
/*}*/

nav {
  float: right;
}

ul {
    list-style: none;    
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

hr.separator {
    background-color: #ffd1d1;
}


section {
    padding-left: 20px;
}

footer {
    margin-top: 5px;
}

p.central {
    width: 500px;
    margin: auto;
}

a:visited {
    color: #222 !important;
}

a:hover {
    background-color: #a9afac !important;
}

