<h3>Welcome to Resolute</h3>
<p class="central">
  <em>Making resolutions is a lot easier than keeping them.  Resolute is here to make it just a little bit easier by helping to track your resolutions, see how you're performing and encourage you with rewards (and the odd bit of guilt).  Sign up today and create some resolutions so you can start keeping them...</em>
</p>